<section class="store-stats">
  <div class="card-deck">
    <div class="box">
      <div class="card-body text-center">
        <h5 class="card-title">34k</h5>
        <p class="card-subtitle">Sales</p>
      </div>
    </div>
    <div class="box">
      <div class="card-body text-center">
        <h5 class="card-title">$25K</h5>
        <p class="card-subtitle">Revenue</p>
      </div>
    </div>
    <div class="box">
      <div class="card-body text-center">
        <h5 class="card-title">12</h5>
        <p class="card-subtitle">New Customers</p>
      </div>
    </div>
    <div class="box">
      <div class="card-body text-center">
        <h5 class="card-title">$34</h5>
        <p class="card-subtitle">Sales</p>
      </div>
    </div>
  </div>
</section>