<section class="jumbotron is-info welcome">
  <div class="container">
    <h1 class="title js-my-store-header-title"><%= title %></h1>
    <h2 class="subtitle js-my-store-header-subtitle"><%= subtitle %></h2>
  </div>
</section>