<section class="container">
  <div class="card-deck">
    <% @listings.each do |listing| %>
        <div class=" col-md-4 col-sm-6 bs-reset">
          <div class="m-1" style="">
            <% if listing.images.first %>
                <%= link_to listing_path(listing.id) do %>
                    <div class="ol-container">
                      <img src=" <%= listing.images.first.image.url %>" class="ol-image img-container">
                      <div class="ol-overlay">
                        <div class="ol-price">
                          <p class="">$39.99</p>
                          <p><%= listing.title %></p>
                        </div>
                        <div class="ol-title">
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
  <%= link_to "New Product", new_listing_path %>
</section>

