<%= javascript_pack_tag 'hello_react' %>
<%#= stylesheet_pack_tag 'hello_react' %>

<section class="guide-editor">
  <div class="container ">
    <div class="box">
      <div class="card-header clearfix">
        <div class="fa fa-close float-right"></div>
        <h1>Step 1</h1>
      </div>
      <div class="card-body">
        <div class="mb-2 guide-image-uploader" style="">
          <div class="card-body ">
            <div class="text-center">
              <img class="img-placeholder "></img>
              <img class="img-placeholder "></img>
              <img class="img-placeholder "></img>
              <img class="img-placeholder "></img>
              <img class="img-placeholder "></img>
            </div>
          </div>
        </div>

        <label for="step-title" class="">Title</label>
        <input type="text" id="step-title" class="form-control mb-4">
        <trix-editor></trix-editor>
      </div>
    </div>
    <div class="btn btn-lg btn-block btn-primary mt-4">Next Step</div>
    <hr>
    <div class="btn btn-info float-right mt-2">Submit</div>
  </div>
</section>

<!--<div class="js-guide-editor&#45;&#45;react" }/>-->


<div class="result-image">
  <img src="http://via.placeholder.com/350x350" alt="">
  <img src="http://via.placeholder.com/250x450" alt="">
  <img src="http://via.placeholder.com/350x350" alt="">
  <img src="http://via.placeholder.com/350x150" alt="">
</div>


<style>
  .result-image img {
    margin: auto;
    vertical-align: middle;
    max-width: 300px;
    max-height: 225px;
    width: auto;
    height: auto;
    background-color: gray;
  }
</style>
