<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-body">
      <table class="table ">
        <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= image_tag product.cover_thumb, style: 'height:100px' %></td>
            <td><%= product.title %></td>
            <td><%= product.price %></td>
            <td>
              <button class="btn btn-outline-default btn-sm" data-toggle="dropdown">Actions
                <span class="ml-1 dropdown-toggle"></span>
              </button>
              <div class="dropdown-menu ">
                <a class="dropdown-item"
                   data-toggle="modal"
                   data-target=".js-contact-seller-modal"
                   href="#">Contact Seller
                </a>
                <%= link_to "Edit Product", product_build_path(id: Wicked::FIRST_STEP, product_id: product.id), class: 'dropdown-item' %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<style>
  table > tr {
    vertical-align: middle;
  }
</style>
