<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-body">
      <table class="table  ">
        <tbody>
        <% @favorite_products.each do |product| %>
          <tr>
            <td><%= image_tag product.cover_thumb.url, style: 'height:100px' %></td>
            <td><%= link_to product.title, product %></td>
            <td><%= number_to_currency product.price %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<style>
  table  {
    vertical-align: middle;
  }
</style>
