<div class="modal modal-overlay js-purchase-overlay-<%= purchase.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content js-purchase-overlay-modal-content">
    </div>
  </div>
</div>

