<section class="cart-show">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="cart-contents">
            <%= render 'cart_contents' %>
          </div>
        </div>
      </div>
      <br>
      <%= render 'checkout_form' %>
    </div>
  </div>
</section>

