<section class="cart-show">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="js-cart-contents">
            <%= render 'cart_contents' %>
          </div>
        </div>
      </div>
      <br>
      <%= render 'checkout_form' %>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item active">Cart</li>
        <li class="list-group-item">Payment</li>
        <li class="list-group-item">Checkout</li>
        <li class="list-group-item">Shipping</li>
      </ul>
    </div>
  </div>
</section>

