<div class="col-md-8 mx-auto">
  <div class="container">
    <div class="text-center col-md-4">
      <%= image_tag @product.cover_image.url, class: 'img-fluid text-center' %>
    </div>
  </div>
  <br>
  <br>
  <h3 class="text-center">Review for <%= @product.title.truncate(100) %></h3>
  <hr>
  <div class="card">
    <%= render 'form', review: @review %>
  </div>
</div>
