<div class="js-load"><i class="fa fa-spinner fa-5x fa-spin text-center"></i></div>
<div class="wizard container mt-5 js-hide-before-load">
  <div class="row">
    <div class="col-md-9">
      <%= render 'application/vue/tutorial_editor' %>
    </div>
  </div>
</div>
