.navbar {
  //border-bottom:    1px solid #d9dede;
  background-color: #25292E;
}

.navbar-brand {
  display:        inline-block;
  padding-top:    $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  font-size:      $navbar-brand-font-size;
  line-height:    inherit;
  white-space:    nowrap;
  margin:         0 30px 5px 0;

  @include hover-focus {
    text-decoration: none;
  }
}

.nav-category {
  color:       #868E96;
  font-weight: 500;
}

.nav-shopping-cart {
  color:       #868E96;
  font-weight: 500;
  position:    relative;
  font-size:   1.15em;

  &--icon {
    font-size: 12px !important;
    position:  absolute;
    top:       12%;
    right:     12%;
    color:     theme-color('danger');
  }
}

.nav-divider {
  @extend .nav-item;
  margin:      0 20px !important;
  height:      23px;
  border-left: 1px solid $gray-700;
}

.NavSearch {
  //border:        1px solid #CCCCCC;
  background-color: #404448;
  padding-left:     0.75rem;
  border-radius:    0.15rem;
  font-size:        1rem;
  line-height:      1rem;
  //color:         #868E96;
  color:            white;
  &--icon {
    margin-top: 6px;
  }
  &--field {
    border:           0;
    font-style:       italic;
    background-color: #404448;
  }
}

.nav-user-info {
  margin-bottom: -2px;
}

.nav-username {
  color:         #868E96;
  position:      relative;
  top:           2px;
  display:       inline-block;
  padding-right: 5px;
}

.nav-avatar {
  height: 30px;
  width:  30px;
}

.nav-avatar img {
  height:           30px;
  width:            30px;
  border-radius:    50px;
  background-color: #EBEFF2;
  margin-top:       2px;
  display:          inline-block;
}


