.navbar {
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

.nav-container {
  //margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  margin-bottom:100px;
}

@media (min-width: 992px) {
  .nav-search-form-control {
    width: 500px;
    border: none;
  }
  .navbar {
    //margin-left: 65px;
    //margin-right: 65px;
  }
}

@media (max-width: 61.9em) {
  .nav-search .input-group-addon {
    padding: 1rem 0.5rem 0.5rem 0;
  }
}

.nav-divider {
  @extend .nav-item;
  margin: 0 20px !important;
  height: 23px;
  border-left: 1px solid $gray-200;
}

.nav-search {
  border: 0;
}