.navbar {
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

.nav-container {
  //margin-bottom: 30px;
  border-bottom:    1px solid rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  margin-bottom:    100px;
}

@media (min-width: 992px) {
  .nav-search-form-control {
    width:  500px;
    border: none;
  }
  .navbar {
    //margin-left: 65px;
    //margin-right: 65px;
  }
}

@media (max-width: 61.9em) {
  .nav-search .input-group-addon {
    padding: 1rem 0.5rem 0.5rem 0;
  }
}

.nav-divider {
  @extend .nav-item;
  margin:      0 20px !important;
  height:      23px;
  border-left: 1px solid $gray-200;
}

.NavSearch {
  &--icon {
    margin-top: 6px;
  }
  &--field {
    border: 0;
  }
}

.nav-user-info {
  margin-bottom: -2px;
}

.nav-username {
  position:      relative;
  top:           50%;
  transform:     translateY(-50%);
  display:       inline-block;
  padding-right: 12px;
}

.nav-avatar {
  height: 36px;
  width:  36px;
  top: 3px;
  position: relative;
}

.nav-avatar img {
  height:           30px;
  width:            30px;
  border-radius:    50px;
  background-color: #EBEFF2;
  margin-top:       2px;
  display:          inline-block;
}

