/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap/functions";
@import "variables";
@import "bootstrap";
@import "bootstrap-overrides/**/*";
@import "navigation";
@import "trix";
@import "image-uploader";
@import "guide-editor";
@import "products";
@import "font-awesome";
@import "material_icons";

.navbar {
  background-color: #fff;
}

//body {
//  background-color: #fff;
//  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
//}

.navbar-light .navbar-toggler {
  border: none;
}

.nav-item {
  margin: 0;
}

.jumbotron {
  background-color: #fafafa;
}

.dropdown-toggle::after {
  border: 1px solid theme-color("info");
  border-right: 0;
  border-top: 0;
  display: inline-block;
  margin-top: -0.375em;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  transform: rotate(-45deg);
  width: 0.5em;
  height: 0.5em;
  top: 50%;
}

.dropdown-menu {
  box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
}

.notification-list {
  list-style: none;
}

.nav-icon {
  color: #51646B;
  font-size: 1.3em;
}

.nav-search-form-control {
  border-radius: 0;
  padding: 0;
  width: 70%;
  border: none;
  border-bottom: 1px solid $gray-500;
}

.page-header {
  width: 100%;
  background-color: #fafafa;
  padding: 3rem 0;
}

.badge-cart {
  background-color: $red;
  color: $white;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  left: 12px;
  font-size: 12px;
  opacity: .8;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.section {
  background-color: #fff;
  padding: 40px 20px;
}

.footer {
  background-color: #f5f7fa;
  padding: 40px 20px 80px;
}

.img-container {
  height: 300px;
  width: 100%;
  object-fit: cover;
  background-color: theme-color("info");
}

.bs-reset {
  padding: 0;
  margin: 0;
}

.wizard-progress {
  .nav-item a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.wizard {

  .box {
    @extend .card;
    border-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
}


.img-carousel-indicators {
  display: inline;
  margin-top: 40px;
}

.img-carousel-indicator {
  display: inline-block;
  border: 3px solid $gray-600;
}

.img-carousel-indicator:hover {
  display: inline-block;
  border: 3px solid $teal;
}

.field_with_errors {
  @extend .is-invalid;
}

trix-toolbar .history_tools {
  display: none;
}

.field_with_errors .form-control {
  @extend .is-invalid;
}

.product-carousel {
  .item-image {
    position: relative;
    //top: 0;
    //width: 100%;
    padding-bottom: 90%;
  }

  .item-image img {
    position: absolute;
    //top: 0;
    //bottom: 0;
    //left: 0;
    //right: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #282834;
  }
}

.product-row {
  .item-image {
  }

  .item-image img {
    height:100%;
    object-fit: contain;
    backface-visibility: #444;
  }
}
