// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-show {
}

.quantity-button {
  background: none;
  cursor: pointer ;
  border: 0;
}

.StripeElement {
}

.StripeElement--focus {
  border-color: black;
}

.StripeElement--invalid {
}

.StripeElement--webkit-autofill {
}
