@import "bootstrap/functions";
@import "variables";
@import "bootstrap";
@import "bootstrap-overrides/**/*";
@import "font-awesome";
@import "material_icons";
@import "material_icons_unicode";

html, body, .coming-soon-page {
  margin:  0;
  padding: 0;
  height:  100%;
  width:   100%;

}

.coming-soon-page {
  display: table;
}

.table-center {
  display:        table-cell;
  margin:         0;
  padding:        0;

  text-align:     center;
  vertical-align: middle;
}

.coming-soon-form-control {
  border-radius: 0;
}

