// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-index {
  .listing-card {
    .listing-card-image {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
    .listing-card-title {
      //font-weight: bold;
      font-size: 1.2rem;
    }
    .listing-card-footer {
      background-color: white;
    }
  }
}

