// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-index {
  .product-index-hero {
    //background-image: linear-gradient(141deg, #ebe4e5 0%, whitesmoke 71%, white 100%);
    //margin-top: -3rem;
  }
  .product-card {
    .product-card-image {
    }
    .product-card-footer {
      padding: 5px;
      .product-card-title {
        font-size: .9rem;
      }
      .product-card-meta {
        display: flex;
        white-space: nowrap;
        .product-card-username {
          font-size: 12px;
          white-space: nowrap;
          order: 1;
        }
        .product-card-price {
          font-size: 12px;
          font-weight: bold;
          white-space: nowrap;
          margin-left:auto;
          order: 2;
        }
      }
      background-color: white;
    }
  }
}

.cart-show {
  .product-row {
    .product-row-image {
    }
  }
}

.img-carousel-indicator .active {
  display: inline-block;
  border: 3px solid $green;
}

