// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-index {
  .product-index-hero {
  }

  .product-card {
    border: none;

    .product-card-image {
    }

    .product-card-footer {
      padding: 5px;

      .product-card-title {
        font-size: .9rem;
      }

      .product-card-meta {
        display: flex;
        white-space: nowrap;

        .product-card-username {
          font-size: 12px;
          white-space: nowrap;
          order: 1;
        }

        .product-card-price {
          font-size: 12px;
          font-weight: bold;
          white-space: nowrap;
          margin-left: auto;
          order: 2;
        }
      }

      background-color: white;
    }
  }
}

.img-carousel-indicator .active {
  display: inline-block;
  border: 3px solid $green;
}

.hero-dropdown-toggle {
  font-size: $display4-size;
  color: theme-color("primary");
}

.hero-dropdown-toggle::after {
  font-size: 24px;
}

.hero-dropdown-menu {
  font-size: 30px;
}

.watch-button:active {
  animation: bounce 2s ease;
}

@keyframes bounce {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-15px);
  }
}

