// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-index {
  .product-card {
    .product-card-image {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
    .product-card-footer {
      .product-card-title {
        //font-weight: bold;
        font-size: 1rem;
      }
      background-color: white;
    }
  }
}

.cart-show {
  .product-row {
    .product-row-image {
      height: 150px;
      width: 150px;
      object-fit: cover;
    }
  }
}
