.PurchaseOverlay {
  .modal-header {
    img {
      height:       60px;
      margin-right: 14px;
    }
    .overlay-tabs {
      margin-bottom: -16px;
      flex:          2;
      font-size:     1rem;
      color:         #868e96;
      .nav-item {
        .active {
          border-bottom: 3px solid #00D9A8;
          color:         #00D9A8;
        }
      }
    }
  }
}
