.tutorial-editor {
  .img-placeholder {
    position: relative;
    width: 140px;
    height: 140px;
    min-height: 100px;
    vertical-align: top;
    display: inline-block;
    margin: 6px;
    background-color: $gray-blue;
    border-radius: .15rem;
  }

  .tutorial-image-uploader {
    @extend .card;
    border: 1px solid rgba($black,.50);
  }
}



