<%= form_for @product do |form| %>
  <div class="tags-field">
    <input type="text" class="form-control">
    <div class="tag">this is a tag</div>
    <div class="tag">another tag</div>
  </div>
<% end %>

