<div class="container">
  <%= form_tag('/charges', authenticity_token: form_authenticity_token, id: "payment-form") do %>
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element" class="form-control">
          <!-- a Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors -->
        <div id="card-errors"></div>
      </div>
      <%= submit_tag "Submit Payment" %>
  <% end %>
</div>
