<footer class="footer">
  <div class="container">
    <div class="text-center">
      <p>
        <strong>Kitboxer</strong> by <a href="https://www.kitboxer.com">Dominic Nunes</a>. The marketplace for Internet
        of Things devices.
      </p>
      <p>
        <a class="icon" href="">
          <i class="fa fa-github"></i>
        </a>
      </p>
      <%#= link_to image_tag('stripe-badge.png'), user_stripe_connect_omniauth_authorize_path , width: '50'%>

      <%= link_to "Login User 1", user1_dev_index_path %>
      <%= link_to "Login User 2", user2_dev_index_path %>

    </div>
  </div>
</footer>