<footer class="footer mt-5
" style="background-color: #fff;">
  <div class="container">
    <div class="text-center">
      <p>
        <strong>Kitboxer</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
      <%#= link_to image_tag('stripe-badge.png'), user_stripe_connect_omniauth_authorize_path , width: '50'%>


    </div>
  </div>
</footer>