<div class="jumbotron jumbotron-fluid" style="padding: 40px 0;">
  <div class="container">
    <h1 class="display-6"> Product Name
      <span class="display-6 text-muted"> |</span>
      <span class="display-7 text-muted"> Category</span>
      <%= link_to "New Product", products_path, method: :post, class: 'btn btn-info float-right' %>
    </h1>
  </div>
</div>