<div class="js-flash">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class=" col-xl-4  col-sm-12 messages js-messages <%= flash_class(name) %>" role="alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $('.js-messages').delay(0).fadeIn('normal', function() {
    $(this).delay(2500).fadeOut()
  })
</script>
