<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class=" col-xl-4  col-sm-12 messages js-messages alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %> " role="alert" style="display: none;">
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('.js-messages').delay(0).fadeIn('normal', function() {
    $(this).delay(2500).fadeOut()
  })
</script>

<style>
  .messages {
    position: fixed;
    top:      3px;
    right:    4px;
    z-index:  9999;
  }
</style>
