<%# Rails flash messages styled for Bootstrap 4.0 %>
<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="messages js-messages alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %> " role="alert" style="display: none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
    <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('.js-messages').delay(0).fadeIn('normal', function() {
    $(this).delay(2500).fadeOut();
  });
</script>

<style>
  .messages {
    position: fixed;
    top: 64px;
    right: 20px;
    width: 30%;
    z-index: 9999;
  }
</style>
