<nav class="navbar navbar-expand-md fixed-top navbar-light ">
  <div class="container-fluid">

    <!--LOGO-->
    <%= link_to image_tag("kitboxer_simple_logo.png", width: 110), root_path, class: 'navbar-brand' %>

    <!--TOGGLE BUTTON-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".js-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--COLLAPSIBLE NAVBAR-->
    <div class="collapse navbar-collapse js-collapse">

      <!--DIVIDER-->
      <span class="nav-divider d-none d-md-block"></span>

      <!--CATEGORIES DROPDOWN-->
      <ul class="navbar-nav">
        <li class="dropdown">

          <button class="nav-category btn btn-outline-default dropdown-toggle" type="button" data-toggle="dropdown">CATEGORIES</button>

          <!--CATEGORIES-->
          <div class="dropdown-menu">
            <div class="dropdown-item">All</div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">Raspberry Pi</div>
            <div class="dropdown-item">Beagle Bone</div>
            <div class="dropdown-item">Guitar Pedals</div>
            <div class="dropdown-item">Musical Instruments</div>
            <div class="dropdown-item">Hacking</div>
            <div class="dropdown-item">Programming</div>
          </div>

        </li>
      </ul>

      <!--DIVIDER-->
      <span class="nav-divider d-none d-md-block"></span>

      <ul class="navbar-nav ml-auto">

        <!--SEARCH BAR-->
        <li class="nav-item mr-4">
          <%= form_tag(products_path, method: :get, class: 'form-inline') do %>
            <div class="input-group NavSearch">
              <i class="material-icons NavSearch--icon">search</i>
              <input type="text" class="NavSearch--field form-control" placeholder="Search...">
            </div>
          <% end %>
        </li>

        <!--SHOPPING CART DROPDOWN-->
        <button class="nav-shopping-cart btn btn-outline-default mr-4" type="button" data-toggle="dropdown">
          <i class="fa fa-shopping-cart">
            <i class="fa fa-circle nav-shopping-cart--icon"></i>
          </i>
        </button>

        <!--USER DROPDOWN-->
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>

    </div>
  </div>
</nav>
