<% @steps.each_with_index do |step, index| %>
  <div class="col-md-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h3>Step <%= index + 1 %>: <span class="display-7"><%= step.title %></span></h3>
        <br>
        <div class="row">
          <div class="col-md-6">
            <p class="display-8"><%= step.body.html_safe %></p>
          </div>
          <div class="col-md-6">
            <% if step.images.first %>
              <%= render 'products/product_carousel', images: step.images %>
            <% end %>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn-success">Post Comment</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
